/* main.css */

/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
    color: #4CAF50;
}

/* Todo入力セクション */
#todoContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

#todoContainer label {
    display: block;
    margin-bottom: 10px;
}

#todoInput {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
}

#importance {
    margin-top: 5px;
}



/* Todoリストスタイル */
#todoList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 90%;
    max-width: 500px;
}

#todoList li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    gap:5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#todoList li span:nth-child(2){
    margin-right:auto;
}

/* Todoのテキストは左寄せ */
#todoList li span.todoText {
    flex-grow: 1;
    text-align: left;
}

